body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
}

#header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px;
}

#header_right,
#header_left {
  font-size: 1.2rem;
  color: #333;
}

#header_right p,
#header_left p {
  margin: 0;
  font-weight: bold;
}

#header_right {
  text-align: right;
}

#header_left {
  text-align: left;
}

#footer_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px;
}

#footer_left,
#footer_center,
#footer_right {
  font-size: 1.2rem;
  color: #333;
}

#footer_left p,
#footer_center p,
#footer_right p {
  margin: 0;
}

#footer_left,
#footer_right,
#footer_center {
  text-align: right;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s;
  box-sizing: border-box;
}

input[type="text"]:hover {
  border: 1px solid #333;
}

.search_button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.search_button:hover {
  background-color: #0056b3;
}

#table-container {
  display: flex;
  justify-content: center; /* Center the table container */
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

table {
  width: 48%;
  border-collapse: collapse;
  box-sizing: border-box;
  display: none;
  animation: fadeInUp 1s ease-in-out;
}

#show_or_hide_result {
  display: none;
  color: red;
  font-weight: bold;
  font-size: xx-large;
}

#last_year_result_mark {
  font-weight: bold;
}

th,
td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #f2f2f2;
  font-size: 1.2rem;
}

tr:hover {
  background-color: #f9f9f9;
}

#total_cell {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  label,
  input[type="text"],
  .search_button,
  th,
  td {
    font-size: 0.9rem;
    padding: 10px;
  }

  #table-container {
    width: 100%;
    width: 80%; /* or any fixed width */
    margin: 0 auto;
    justify-content: center; /* Center the table container */
    align-items: center;
    align-content: center;
    /* margin-top: 20px; */
    animation: fadeIn 1s ease-in-out;
  }

  table {
    width: 100%;
    margin-top: 10px;
    display: flex;
    border-collapse: collapse;
    box-sizing: border-box;
    display: none;
    animation: fadeInUp 1s ease-in-out;
  }

  #header_right,
  #header_left {
    font-size: 0.8rem;
  }

  #footer_left,
  #footer_center,
  #footer_right {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  #header_right,
  #header_left {
    font-size: 0.6rem;
  }

  #footer_left,
  #footer_center,
  #footer_right {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 993px) {
  .container {
    width: 60%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
